.sidenav {
    height: 100;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 70px;
}