h1 {
    size: 2.5rem;
    color: black;
    font-family: Verdana;
    color: black;
    
}

div {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    size: 3.5rem;
    color: black;
  }